# C++
build/
*.o
*.obj
*.exe
*.pdb
bg/.vs/*

# pybind11 / Python
*.pyd
__pycache__/
.spyproject/
*.pyc

# IDE
.vscode/
.idea/
*.user

*.zip

# Training stats artifacts
python/training_stats/
python/training_stats*
